/* Important note! */
/* No need to redefine :root variables here since we've already done that in framework.css file */
/* make sure this file is imported after the framework file */
:root {
  --toggle-width: 75px;
  --toggle-padding: 0.25rem;
  --toggle-circle-size: 24px;
  --toggle-info-circle-size: 18px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* normalize */
  /* line-height: 1.15;  */
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

input,
textarea {
  /* leave it for accessibility */
  /* outline: none; */
  border: none;
  font-family: inherit;
}

textarea {
  resize: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-blue-alt);
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

/* Start Sidebar */
.sidebar {
  max-height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px #ddd;
}

.sidebar__link {
  transition: background-color 0.3s;
}

.sidebar__link:hover,
.sidebar__link.active {
  background-color: #f6f6f6;
}

@media (min-width: 768px) {
  .sidebar {
    width: 225px;
    padding: 1.25rem 1.25rem 0;
  }

  .sidebar h3 {
    font-size: 1.1875rem;
    margin-bottom: 3.125rem;
  }

  .sidebar h3::before,
  .sidebar h3::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
  }

  .sidebar h3::before {
    width: 80px;
    height: 2px;
  }

  .sidebar h3::after {
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, 50%);
  }

  .sidebar__link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
}
/* End Sidebar */

/* Start Main */
main {
  overflow-x: hidden; /* mandatory for table responsiveness! */
}
/* End Main */

/* Start Main Header */
.main-header .header__search input {
  width: 160px;
  padding-left: 1.875rem;
  transition: width 0.3s;
}

.main-header .header__search input:focus {
  width: 200px;
}

.main-header .header__search input:focus::placeholder {
  opacity: 0;
}

.main-header .header__search .search__icon {
  left: 0.9375rem; /* half of the padding-left */
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-header .header__icons .icons__bell::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--clr-red);
  top: -5px;
  right: -5px;
}
/* End Main Header */

/* Start Main Title */
.main-content .main-title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.main-content .main-title::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-image: linear-gradient(to right, #000 33.33%, #fff 33.33%);
  left: 0;
  bottom: -10px;
}
/* End Main Title */

/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}

.welcome .intro {
  padding-bottom: 2.875rem;
}

.welcome .avatar {
  margin: -32.5px auto 0; /* half of its height */
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
}

.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.welcome .visit {
  transition: background-color 0.3s;
}

.welcome .visit:hover {
  background-color: var(--clr-blue-alt);
}

@media (min-width: 768px) {
  .welcome .intro {
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
  }

  .welcome .avatar {
    margin-left: 1.25rem; /* to match padding */
    margin-right: 0;
  }

  .welcome .body {
    display: flex;
    padding: 1.25rem;
  }

  .welcome .body > div {
    flex: 1;
    margin: 0;
  }
}
/* End Welcome Widget */

/* Start Quick Draft Widget */
.quick-draft form textarea {
  height: 180px;
}

.quick-draft form .save {
  justify-self: end;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quick-draft form .save:hover {
  background-color: var(--clr-blue-alt);
}
/* End Quick Draft Widget */

/* Start Targets Widget */
.targets .target__icon {
  width: 80px;
  height: 80px;
}

.target__details .progressbar {
  height: 4px;
}

.blue .target__icon,
.blue .target__details .progressbar {
  background-color: rgb(0 117 255 / 20%);
}

.orange .target__icon,
.orange .target__details .progressbar {
  background-color: rgb(245 158 11 / 20%);
}

.green .target__icon,
.green .target__details .progressbar {
  background-color: rgb(34 197 94 / 20%);
}

.target__details .progressbar__fill::before,
.target__details .progressbar__fill::after {
  position: absolute;
  right: 0;
  bottom: calc(100% + 0.625rem); /* to match the 10px margin */
}

.target__details .progressbar__fill::before {
  content: attr(data-value);
  font-size: 0.8125rem;
  color: #fff;
  padding: 0.125rem 0.3125rem;
  border-radius: 0.375rem;
  transform: translateX(50%);
}

.blue .target__details .progressbar__fill::before {
  background-color: var(--clr-blue);
}

.orange .target__details .progressbar__fill::before {
  background-color: var(--clr-orange);
}

.green .target__details .progressbar__fill::before {
  background-color: var(--clr-green);
}

.target__details .progressbar__fill::after {
  content: '';
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: translate(50%, 100%);
}

.blue .target__details .progressbar__fill::after {
  border-top: 5px solid var(--clr-blue);
}

.orange .target__details .progressbar__fill::after {
  border-top: 5px solid var(--clr-orange);
}

.green .target__details .progressbar__fill::after {
  border-top: 5px solid var(--clr-green);
}

/* End Targets Widget */

/* Start Tickets Widget */
@media (min-width: 768px) {
  .tickets .box {
    width: calc(50% - 10px); /* half of the gap to fit 2 boxes in each row */
  }
}
/* End Tickets Widget */

/* Start Latest News Widget */
.latest-news .news-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-news .news-row img {
  margin: 0 auto 0.625rem;
}

.latest-news .news-row .news__info h3 {
  font-size: 1rem;
}

.latest-news .news-row .news__time {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .latest-news .news-row {
    display: flex;
    align-items: center;
  }

  .latest-news .news-row img {
    margin: 0 1rem 0 0;
  }

  .latest-news .news-row .news__info,
  .latest-news .news-row .news__time {
    margin: 0;
  }

  .latest-news .news-row .news__info {
    flex: 1;
  }
}
/* End Latest News Widget */

/* Start Latest Tasks Widget */
.latest-tasks .task-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-tasks .task-row.done > * {
  opacity: 0.3;
}

.latest-tasks .task-row.done .task__info {
  text-decoration: line-through;
}

.latest-tasks .task-row .task__info h3 {
  font-size: 1rem;
}

.latest-tasks .task-row:not(.done) .delete {
  cursor: pointer;
  transition: color 0.3s;
}

.latest-tasks .task-row:not(.done) .delete:hover {
  color: var(--clr-red);
}
/* End Latest Tasks Widget */

/* Start Latest Uploads Widget */
.latest-uploads .upload-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-uploads .upload-row .upload__info h3 {
  font-weight: normal;
  font-size: 1rem;
}
/* End Latest Uploads Widget */

/* Start Last Project Progress Widget */
.last-project .project__steps {
  gap: 1.5625rem;
  position: relative;
  z-index: 1;
}

.last-project .project__steps::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--clr-blue);
  left: 11px; /* half of the circle's width (12px) - half of its own width (1px) */
  z-index: -1;
}

.last-project .project__steps li::before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #fff;
  outline: 2px solid var(--clr-blue);
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.last-project .project__steps li.done::before {
  background-color: var(--clr-blue);
}

.last-project .project__steps li.in-progress::before {
  animation: pulse 0.8s infinite alternate;
}

@keyframes pulse {
  from {
    background-color: var(--clr-blue);
  }
  to {
    background-color: #fff;
  }
}

.last-project .launch-icon {
  opacity: 0.1;
  right: 0;
  bottom: 0;
}
/* End Last Project Progress Widget */

/* Start Reminders Widget */
.reminders .reminders__list {
  gap: 1rem;
}

.reminders__list li .bullet {
  width: 15px;
  height: 15px;
}

.reminders__list li .blue {
  border-left: 2px solid var(--clr-blue);
}

.reminders__list li .green {
  border-left: 2px solid var(--clr-green);
}

.reminders__list li .orange {
  border-left: 2px solid var(--clr-orange);
}

.reminders__list li .red {
  border-left: 2px solid var(--clr-red);
}
/* End Reminders Widget */

/* Start Latest Post Widget */
.latest-post .post__head h3 {
  font-size: 1rem;
}

.latest-post .post__content {
  line-height: 1.8;
  text-transform: capitalize;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* End Latest Post Widget */

/* Start Social Media Stats Widget */
.social-stats .stat-box .stat__icon {
  width: 88px; /* same as parent's height */
  transition: transform 0.3s;
}

.social-stats .stat-box .stat__icon:hover {
  transform: rotate(5deg);
}

@media (min-width: 768px) {
  .social-stats .stat-box .stat__icon {
    width: 56px;
  }

  .social-stats .stat-box .stat__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9375rem;
  }

  .social-stats .stat-box .stat__action p {
    margin: 0;
  }
}

.social-stats .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}

.social-stats .twitter .stat__icon,
.social-stats .twitter a {
  background-color: #1da1f2;
}

.social-stats .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1877f2;
}

.social-stats .facebook .stat__icon,
.social-stats .facebook a {
  background-color: #1877f2;
}

.social-stats .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}

.social-stats .youtube .stat__icon,
.social-stats .youtube a {
  background-color: #ff0000;
}

.social-stats .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}

.social-stats .linkedin .stat__icon,
.social-stats .linkedin a {
  background-color: #0077b5;
}
/* End Social Media Stats Widget */

/* Start Projects Widget */
.projects {
  margin-top: 0.625rem;
}

@media (min-width: 768px) {
  .projects {
    margin-top: 1.25rem;
  }
}

.projects .table-container {
  overflow-x: auto;
}

.projects table {
  /* grows to full and shrinks until min-width 1000px */
  width: max(100%, 1000px);
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

.projects table th,
.projects table td {
  padding: 0.9375rem;
  border: 1px solid #eee;
}

.projects table tbody tr {
  transition: background-color 0.3s;
}

.projects table tbody tr:hover {
  background-color: #faf7f7;
}

.projects table .team img {
  display: initial;
  border: 2px solid #fff;
}

.projects table .team img:not(:first-child) {
  margin-left: -1.25rem;
}
/* End Projects Widget */

/* Start Settings */
:disabled {
  cursor: not-allowed;
  background-color: #f0f4f8;
  color: #bbb;
}

.toggle__input {
  display: none;
}

.toggle__switch {
  width: var(--toggle-width);
  padding: var(--toggle-padding);
  border-radius: 4em;
  background-color: #ccc;
  color: var(--clr-grey);
  cursor: pointer;
  user-select: none; /* to prevent selection glitch */
  transition: background-color 0.3s, color 0.3s;
}

.toggle__switch::before {
  content: '\f00d';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  height: var(--toggle-circle-size);
  width: var(--toggle-circle-size);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle__input:checked + .toggle__switch {
  background-color: var(--clr-blue);
  color: var(--clr-blue);
}

.toggle__input:checked + .toggle__switch::before {
  content: '\f00c';
  /* pay attention to box-sizing: border-box */
  /* toggle width - switch width - padding on both sides */
  transform: translateX(
    calc(
      var(--toggle-width) - var(--toggle-circle-size) - 2 *
        var(--toggle-padding)
    )
  );
}

.site-control .down-message {
  height: 150px;
}

.general-info input[type='email'] {
  min-width: 0;
}

.security-info .info-box:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.security-info .info-box .pw-change {
  transition: background-color 0.3s;
}

.security-info .info-box .pw-change:hover {
  background-color: var(--clr-blue-alt);
}

.social-info .info-box {
  flex-direction: row-reverse;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
}

.social-info .info-box i {
  width: 38px;
  transition: color 0.3s;
}

.social-info .info-box input {
  width: calc(100% - 38px);
  outline: none;
  background-color: transparent;
  border-left: 1px solid #ddd;
}

.social-info .info-box input:focus + i {
  color: #000;
}

.widgets-control .check__input {
  display: none;
}

.widgets-control .check__content {
  cursor: pointer;
}

.widgets-control .check__content::before,
.widgets-control .check__content::after {
  width: 18px;
  height: 18px;
  border-radius: 0.25rem;
}

.widgets-control .check__content::before {
  content: '';
  display: inline-block;
  border: 2px solid var(--clr-grey);
  margin-right: 12px;
  transition: border-color 0.3s;
}

.widgets-control .check__content:hover::before {
  border-color: var(--clr-blue-alt);
}

.widgets-control .check__content::after {
  content: '\f00c';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 0.75rem;
  background-color: var(--clr-blue);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transform: scale(0) rotate(1turn);
  transition: transform 0.3s;
}

.widgets-control .check__input:checked + .check__content::after {
  transform: scale(1);
}

.backup-manager .freq-container {
  border-bottom: 1px solid #eee;
}

.backup-manager .freq__input,
.backup-manager .location__input {
  display: none;
}

.backup-manager .freq__content,
.backup-manager .location__content {
  cursor: pointer;
}

.backup-manager .freq__content::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid var(--clr-grey);
  margin-right: 12px;
  transition: border-color 0.3s;
}

.backup-manager .freq__content::after {
  content: '';
  position: absolute;
  left: 5px; /* to mimic padding */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--clr-blue);
  transform: scale(0);
  transition: transform 0.3s;
}

.backup-manager .freq__input:checked + .freq__content::before {
  border-color: var(--clr-blue);
}

.backup-manager .freq__input:checked + .freq__content::after {
  transform: scale(1);
}

.backup-manager .location__content {
  border: 2px solid #ddd;
  transition: border-color 0.3s, color 0.3s;
}

.backup-manager .location__input:checked + .location__content {
  color: var(--clr-blue);
  border-color: var(--clr-blue);
}

@media (min-width: 768px) {
  .backup-manager .location-container {
    flex-direction: row;
    gap: 0.625rem;
  }

  .backup-manager .location-container .location {
    flex: 1;
  }
}
/* End Settings */

/* Start Profile */
@media (min-width: 768px) {
  .profile-page-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.profile-overview {
  overflow: hidden;
}

.profile-stats .profile__avatar {
  margin: 0 auto 0.625rem;
}

.profile-stats .profile__name {
  font-size: 1.17rem;
}

.profile-stats .profile__progressbar {
  max-width: 180px;
  margin: 0 auto 0.625rem;
}

.profile-stats .profile__progressbar .progressbar__fill {
  height: 6px;
}

.profile-info .info-row {
  transition: background-color 0.3s;
}

.profile-info .info-row:hover {
  background-color: #f9f9f9;
}

.profile-info .info-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.profile-info .info-row > div {
  width: min(100%, 250px); /* to avoid overflow */
}

.profile-info .info-row .toggle {
  /* to properly size interaction area */
  /* w-fit class won't work, cuz labels are inline elements */
  display: inline-block;
}

.profile-info .info-row .toggle__switch::before {
  content: '\f070';
  width: var(--toggle-info-circle-size);
  height: var(--toggle-info-circle-size);
  font-size: 0.625rem;
}

.profile-info .info-row .toggle__input:checked + .toggle__switch::before {
  content: '\f06e';
  transform: translateX(
    calc(
      var(--toggle-width) - var(--toggle-info-circle-size) - 2 *
        var(--toggle-padding)
    )
  );
}

@media (min-width: 768px) {
  .profile-page-wrapper .profile-overview {
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
  }

  .profile-overview .profile-stats {
    width: 250px;
  }

  .profile-overview .profile-info {
    flex: 1;
    border-left: 1px solid #eee;
  }

  .profile-overview .profile-info .info-row {
    justify-content: flex-start;
  }
}

.my-skills .skills-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .my-skills .skills-row {
    justify-content: flex-start;
  }
}

.latest-activities .activity:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .profile-page-wrapper .latest-activities {
    grid-column: 2 / span 2;
  }

  .latest-activities .activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9375rem; /* to preserve spacing */
  }

  .latest-activities .activity__details {
    margin-bottom: 0;
    flex-direction: row;
  }
}
/* End Profile */

/* Start Projects */
.project__date {
  top: 0.625rem;
  right: 0.625rem;
}

.project__title {
  font-size: 1rem;
  font-weight: normal;
}

.project__team {
  padding-top: 1.875rem;
}

.project__team a:not(:first-child) {
  margin-left: -1.25rem;
}

.project__team a:hover img {
  z-index: 10;
}

.project__team img {
  border: 2px solid #fff;
}

.project__aspects {
  align-items: flex-start;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .project__aspects {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3125rem;
  }

  .project__milestone {
    flex-direction: row;
    justify-content: space-between;
  }
}

.project__milestone .milestone__progressbar {
  width: min(100%, 250px);
}

.milestone__progressbar .progressbar__fill {
  height: 8px;
}

.milestone__progressbar .stage-1 {
  width: 25%;
  background-color: var(--clr-red);
}

.milestone__progressbar .stage-2 {
  width: 50%;
  background-color: var(--clr-orange);
}

.milestone__progressbar .stage-3 {
  width: 75%;
  background-color: var(--clr-blue);
}

.milestone__progressbar .stage-4 {
  width: 100%;
  background-color: var(--clr-green);
}
/* End Projects */

/* Start Courses */
.course {
  overflow: hidden;
}

.course__instructor-img {
  border: 2px solid #fff;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  top: 1.25rem;
  left: 1.25rem;
}

.course__img {
  width: 100%;
  object-fit: cover;
}

.course__title {
  font-size: 1rem;
}

.course__description {
  line-height: 1.6;
}

.course__info {
  border-top: 1px solid #eee;
}

.course__info .info__badge {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
/* End Courses */

/* Start Friends */
.friend__contact {
  color: #666;
  top: 0.625rem;
  left: 0.625rem;
}

.friend__contact i {
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.friend__contact i:hover {
  color: #fff;
  background-color: var(--clr-blue);
}

.friend__img {
  margin: 0.625rem auto;
}

.friend__name {
  font-size: 1rem;
}

.friend__stats {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.friend__stats .vip-badge {
  font-size: 2.5rem;
  opacity: 0.2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .friend__info {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.3125rem;
  }
}
/* End Friends */
